* {
    margin: 0;
    padding: 0;
}

nav {
   display: flex;
   padding: 40px;
}

nav button {
    display: flex;
    float: right;
}

.specialLine {
    border-top: 2px solid black;
    height: 2px;
    border-bottom: 2px solid black;
    padding: 0px;
    margin: 0px;
}

aside {
    border-right: 2px solid black;
    height: 100%;
    float: left;
   
}

main{
    border-left: 2px solid black;
    height: 100%;
    float: right;
    display: flex;
    justify-content: center;
    flex-direction: column;
   
}

form{
    padding: 10px;
    display: flex;
    justify-self: center;
    flex-direction: column;
}

form h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

form button {
    color: white;
    width: 650px;
    height: 30px;
}


.circle {
    display: flex;
    border-radius: 180%;
    background-image: linear-gradient(rgb(145, 135, 0),rgb(255, 238, 0));
    height: 500px;
    width: 500px;
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;

}

